<!DOCTYPE html>
<html lang="en">

<head>
    <title>T국가 위법물 탐지 페이지 </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- Meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="CodedThemes">
      <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
      <meta name="author" content="CodedThemes">
      <!-- Favicon icon -->
      <link rel="icon" href="{{ url_for('static', filename='/assets/images/favicon.ico') }}" type="image/x-icon">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap/css/bootstrap.min.css')}}">
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/icon/themify-icons/themify-icons.css')}}">
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/icon/icofont/css/icofont.css')}}">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css')}}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/jquery.mCustomScrollbar.css')}}">

        <STYLE TYPE="text/css">
        table {font-size:10pt; border:1px solid; border-collapse:collapse; text-align:center;}
        th {border:1px; background-color:#252525; color:white; text-align:center; height:30px; width=500px;}
        td {border:1px solid; text-align:center; height:200px; width=500px;}
        tr:nth-child(2n+0) {background-color:#D8D8D8;}
        </STYLE>
  </head>



  <body>

    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">

                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
<!--                        <a href="#">-->
<!--                            <img width="130" class="img-fluid" src="{{ url_for('static', filename='assets/images/tjk_flag.png')}}" alt="Theme-Logo" />-->
<!--                        </a>-->
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid ">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="header-notification">
                                <ul class="show-notification">
                                    <li>
                                        <h6>Notifications</h6>
                                        <label class="label label-danger">New</label>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius" src="{{ url_for('static', filename='assets/images/avatar-4.jpg')}}" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">John Doe</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius" src="{{ url_for('static', filename='assets/images/avatar-3.jpg')}}" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">Joseph William</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius" src="{{ url_for('static', filename='assets/images/avatar-4.jpg')}}" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">Sara Soudein</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-40 img-radius" src="{{ url_for('static', filename='assets/images/namu_logo.jpg')}}" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span>NA1</span>
                                        <span id="more-details">팀원 구성<i class="ti-angle-down"></i></span>
                                    </div>
                                </div>

                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a href="#"><i class="ti-user"></i>예상일</a>
                                            <a href="#"><i class="ti-user"></i>안아련</a>
                                            <a href="#"><i class="ti-user"></i>이보람</a>
                                            <a href="#"><i class="ti-user"></i>전정재</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-header card">
                                        <div class="row align-items-end">
                                            <div class="col-md-6 col-xl-6">
                                                <div class="page-header-title">
                                                    <i class="icofont icofont-chart-bar-graph bg-c-blue"></i>
                                                    <div class="d-inline">
                                                        <h4>샘플케이스 선택</h4>
                                                        <span>10개의 화물 중 하나를 골라 화물 검사하기 버튼을 누르세요</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-md-12 col-xl-9">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>위법물 검사 대상 데이터</h5>
                                                        <div class="card-header-left ">
                                                        </div>
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option">
                                                                <li><i class="icofont icofont-simple-left "></i></li>
                                                                <li><i class="icofont icofont-maximize full-card"></i></li>
                                                                <li><i class="icofont icofont-minus minimize-card"></i></li>
                                                                <li><i class="icofont icofont-refresh reload-card"></i></li>
                                                                <li><i class="icofont icofont-error close-card"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-block">
                                                        <button class="btn btn-warning" onClick="window.location.reload()">새 데이터 불러오기</button>
                                                        <form method="post" action="/result">
                                                            <input type="submit" class="btn btn-success" name="action" value="화물 검사하기"/><br><br><br>

                                                            <table frame=void style="border-style: hidden;">
                                                                <tr>
                                                                    <td>
                                                                        <table frame=void style="border-style: hidden;">
                                                                            <tr >
                                                                                <td bgcolor="white">
                                                                                <input type="radio" name="testcase" checked="checked" value="0"/><br>
                                                                                신고번호: {{ caselist.0 }}
                                                                                </td>

                                                                                <td bgcolor="#D8D8D8">
                                                                                <input type="radio" name="testcase" checked="checked" value="1"/><br>
                                                                                신고번호: {{ caselist.1 }}
                                                                                </td>

                                                                                <td bgcolor="white">
                                                                                <input type="radio" name="testcase" checked="checked" value="2"/><br>
                                                                                신고번호: {{ caselist.2 }}
                                                                                </td>

                                                                                <td bgcolor="#D8D8D8">
                                                                                <input type="radio" name="testcase" checked="checked" value="3"/><br>
                                                                                신고번호: {{ caselist.3 }}
                                                                                </td>

                                                                                <td bgcolor="white">
                                                                                <input type="radio" name="testcase" checked="checked" value="4"/><br>
                                                                                신고번호: {{ caselist.4 }}
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td bgcolor="#D8D8D8">
                                                                                <input type="radio" name="testcase" checked="checked" value="5"/><br>
                                                                                신고번호: {{ caselist.5 }}
                                                                                </td>

                                                                                <td bgcolor="white">
                                                                                <input type="radio" name="testcase" checked="checked" value="6"/><br>
                                                                                신고번호: {{ caselist.6 }}
                                                                                </td>

                                                                                <td bgcolor="#D8D8D8">
                                                                                <input type="radio" name="testcase" checked="checked" value="7"/><br>
                                                                                신고번호: {{ caselist.7 }}
                                                                                </td>

                                                                                <td bgcolor="white">
                                                                                <input type="radio" name="testcase" checked="checked" value="8"/><br>
                                                                                신고번호: {{ caselist.8 }}
                                                                                </td>

                                                                                <td bgcolor="#D8D8D8">
                                                                                <input type="radio" name="testcase" checked="checked" value="9"/><br>
                                                                                신고번호: {{ caselist.9 }}
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                    <td>
                                                                    </td>
                                                                </tr>

                                                            </table>

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </form>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <div id="styleSelector">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fixed-button">
                    <a href="https://codedthemes.com/item/guru-able-admin-template/" target="_blank" class="btn btn-md btn-primary">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i> Upgrade To Pro
                    </a>
                </div>
            </div>
        </div>

        <!-- Warning Section Starts -->
        <!-- Older IE warning message -->
    <!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="{{ url_for('static', filename='assets/images/browser/chrome.png')}}" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="{{ url_for('static', filename='assets/images/browser/firefox.png')}}" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="{{ url_for('static', filename='assets/images/browser/opera.png')}}" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="{{ url_for('static', filename='assets/images/browser/safari.png')}}" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="{{ url_for('static', filename='assets/images/browser/ie.png')}}" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-ui/jquery-ui.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/popper.js/popper.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap/js/bootstrap.min.js')}}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-slimscroll/jquery.slimscroll.js')}}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/modernizr/modernizr.js')}}"></script>
<!-- am chart -->
<script src="{{ url_for('static', filename='assets/pages/widget/amchart/amcharts.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/pages/widget/amchart/serial.min.js')}}"></script>
<!-- Todo js -->
<script type="text/javascript " src="{{ url_for('static', filename='assets/pages/todo/todo.js ')}}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/pages/dashboard/custom-dashboard.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/script.js')}}"></script>
<script type="text/javascript " src="{{ url_for('static', filename='assets/js/SmoothScroll.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/pcoded.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/demo-12.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
<script>
var $window = $(window);
var nav = $('.fixed-button');
    $window.scroll(function(){
        if ($window.scrollTop() >= 200) {
         nav.addClass('active');
     }
     else {
         nav.removeClass('active');
     }
 });
</script>
</body>

</html>
